<div class="secret">
<h1 class="welcome">Welcome <%= user.name %>! </h1>
<div class="container-fluid">

  <div class="row">



        <div class="col-xs-12  col-md-6 col-md-offset-3" >

            <div class="well well-sm">
                <div class="row" id="picture">
                    <div class="col-sm-6 col-md-4">
                      <% pictures.forEach(function(picture) { %>
                       <h3><%= picture.name %></h3>
                       <img class="img-circle" src="<%= picture.pic_path %>" alt="<%= picture.pic_name %>" width="140" height="140" value="<%= picture._id%>"/>
                       <% })%>
                    </div>

                    <div class="col-sm-6 col-md-8  ">


                        <%# <small><cite title="San Francisco, USA">San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>%>
                        <p>
                            Name: <%= user.name %>
                            <%= user.lastName %> <br> <br>
                            Date of Birth: <%= user.dateOfBirth.toDateString() %>
                            <br />
                            <br />
                            <i class="glyphicon glyphicon-envelope"></i><%= user.username %>
                            <br>
                            <a id="editProfile" href="/dashboard/<%= user._id %>/edit">
                              Edit profile
                            </a>

                    </div>
                </div>
            </div>
        </div>
  <div class="col-md-6 col-md-offset-3" >
    <div class="panel panel-default">
      <div class="panel-heading">Jobs You Posted: </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Job Title</th>
                <th>Deadline</th>
                <th>Category</th>
              </tr>
            </thead>
            <tbody>
              <% job.forEach((oneJob) => { %>
              <tr>
                <td><a href="/jobpostings/<%= oneJob._id %>/"><%=oneJob.jobTitle %> </a> </td>
                <td><%= oneJob.jobDeadline.toDateString() %></td>
                <td><%= oneJob.jobCategory %></td>
                <td> <a class = "link" href="/jobpostings/<%= oneJob._id %>/delete">Delete </a></td>
                <td><a class = "link" href="/jobpostings/<%= oneJob._id %>/edit">Edit</a></td>
              </tr>
              <% }) %>
             </tbody>
           </table>
         </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Jobs You Applied For: </div>
      <div class="panel-body" id="pending-jobs">
        <div class="table-responsive">
           <table class="table">
             <thead>
               <tr>
                 <th>Job Title</th>
                 <th>Temployer</th>
                 <th>Deadline</th>
               </tr>
             </thead>
             <tbody>
                <% applications.forEach((application) => { %>
                <tr>
                  <td><a href="/jobpostings/<%= application.job._id %>/"><%= application.job.jobTitle %> </a></td>
                  <td><%= application.job.user.name %></td>
                  <td><%= application.job.jobDeadline.toDateString() %></td>
                  <td> <a class = "link" href="/application/<%= application._id %>/delete">Delete </a></td>
                </tr>
                <% }) %>
              </tbody>
           </table>
       </div>
      </div>


      </div>
    </div>
  </div>
</div>
  <div class="col-md-6 col-md-offset-3 " >
    <form action="/jobform">
      <button class="btn dashboard-btn btn-postJob-dash" name="post-button" >Post a Job</button>
    </form>
    <form action="/job/jobpostings">
      <button class="btn dashboard-btn btn-requestJob" name="request-button">Request a Job</button>
    </form>
  </div>
  </div>
</code></pre>
</div>
