<ol class="breadcrumb">
<li><a href="#">Home</a></li>
<li><a href="/dashboard">Dashboard</a></li>
<li><a href="/job/jobpostings">Listings</a></li>
<li class="active">Job Info</li>
</ol>
<div class="container-fluid">
  <div class="col-md-8 col-md-offset-2" >
    <div class = "listingHeader">
      <h2> Job Profile </h2>
    </div>
      <h3> <%= jobs.jobTitle %> </h3>
      <ul id="appliedJob" data="<%= jobs._id %>">
            <li> Title: <%= jobs.jobTitle %> </li>
            <li>  Category: <%= jobs.jobCategory %> </li>
            <li>  Deadline: <%= jobs.jobDeadline.toDateString() %> </li>
            <li>  Description: <%= jobs.jobDescription %> </li>
            <li>  Temployer: <%= jobs.user.name %> </li>
      </ul>


    <form id="applyNow" action="/dashboard"  method="post">
      <button type="submit" id="applyNow" name="id" value=<%=jobs._id%>> Apply Now! </button>
    </form>




      <a href="/job/jobpostings">
        Find Another Job
      </a>
    </div>
    </div>
  
