<ol class="breadcrumb">
<li><a href="#">Home</a></li>
<li><a href="/secret">Dashboard</a></li>
<li><a href="/job/jobpostings">Listings</a></li>
<li class="active">Job Info</li>
</ol>
<div class="container-fluid">
  <div class="col-md-8 col-md-offset-2" >
    <div class = "listingHeader">
      <h2> Job Profile </h2>

    </div>

      <h3> <%= jobs.jobTitle %> </h3>

      <ul>
            <li> Title: <%= jobs.jobTitle %> </li>
            <li>  Category: <%= jobs.jobCategory %> </li>
            <li>  Deadline: <%= jobs.jobDeadline %> </li>
            <li>  Description: <%= jobs.jobDescription %> </li>
            <li>  Temployer: <%= jobs.temployer %> </li>
      </ul>



    <a href="/job/jobpostings">
      Find Another Job
    </a>
    </div>
    </div>
