<ol class="breadcrumb">
<li><a href="/">Home</a></li>
<li><a href="/dashboard">Dashboard</a></li>
<li class="active">Listings</li>
</ol>
  <div class="container-fluid">
    <div class="col-md-8 col-md-offset-2" class="jobpostings" >
      <div class = "listingHeader">
        <h2> Job Listings </h2>
      </div>
      <div class="panel panel-default">

        <div class="panel-body">
          <div class="table-responsive">
            <table class="table" class="tableListing">

              <tbody>
                <% jobs.forEach((jobList) => { %>
                <tr>
                  <td>
                      <li> Title: <%= jobList.jobTitle%> </li>
                      <li> Category: <%= jobList.jobCategory%> </li>
                      <li> Deadline: <%= jobList.jobDeadline.toDateString()%> </li>
                      <li> Description: <%= jobList.jobDescription %> </li>

                      <form action="/jobpostings/<%= jobList._id %>">
                        <button  class="btn btn-info"  name="request-button">Request </button>
                      </form> <br>
                  </td>
                </tr>
                <% }) %>
               </tbody>
             </table>
           </div>
        </div>
      </div>



      </div>
      </div>
