<ol class="breadcrumb">
<li><a href="#">Home</a></li>
<li><a href="/dashboard">Dashboard</a></li>
<li class="active">Listings</li>
</ol>
  <div class="container-fluid">
    <div class="col-md-8 col-md-offset-2" class="jobpostings" >
      <div class = "listingHeader">
        <h2> Job Listings </h2>
      </div>
          <ul>
            <% jobs.forEach((jobList) => { %>
                <li> Title: <%= jobList.jobTitle%> </li>
                <li> Category: <%= jobList.jobCategory%> </li>
                <li> Deadline: <%= jobList.jobDeadline%> </li>
                <li> Description: <%= jobList.jobDescription %> </li>
                <li> Posted by: <%= jobList.user.name %> </li>
                <form action="/jobpostings/<%= jobList._id %>">
                  <button class="requestJob" name="request-button">Request </button>
                </form> <br>

            <% }) %>

          </ul>

      </div>
      </div>


  </div>
